* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  background: rgb(248, 255, 253);
  font-family: "Goldman";
}

.admindash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.adminform {
  width: 70%;
  height: 80vh;
  background: #fff;
  margin-block: 2rem;
  border-radius: 10px;
  box-shadow: 1px 2px 9px #9f9f9f59;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.topmost {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #9f9f9f59;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "FF PQR TRIAL";
  gap: 10px;
  font-size: 1.1rem;
}

.btn {
  padding-inline: 1rem;
  background: #2b898a;
  border: none;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.968);
  cursor: pointer;
}

.btn:hover {
  background: #2b888acd;
}

.secondtop {
  display: flex;
  justify-content: space-between;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #9f9f9f59;
  border-radius: 10px;
  padding-inline: 1rem;
  width: 500px;
  margin-right: 1rem;
}

#search {
  padding: 10px;
  width: 100%;
}

#search::placeholder {
  color: #5b5b5b;
}

.filter {
  display: flex;
  align-items: center;
  color: #5b5b5b;
  gap: 5px;
}

#selectrole {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 1rem;
}

.table-container {
  height: 700px;
  overflow-y: scroll;
}

.table {
  width: 100%;
  margin-top: 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.table th {
  color: #9b9b9b;
}

.table tbody tr {
  margin-block: 1rem;
}

.table tr td,
.table tr th {
  text-align: left;
  /* padding-left: 1rem; */
}

.actionbtn {
  padding: 10px 0;
  width: 125px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.actionbtn:hover {
  filter: brightness(0.9);
}

.deactivate {
  background: #dc1010d9;
}

.activate {
  background: #2b898a;
}

.formContainer {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000bd;
}

.addDoctorForm {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close {
  position: relative;
  left: 100%;
  cursor: pointer;
  width: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
}

.field label {
  font-size: 0.7rem;
  margin-left: 10px;
}

.field input,
.field select {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #e9e9e9;
  color: #000;
  font-size: 0.8rem;
}

.field input::placeholder {
  color: #2f2f2f;
}

.field input:focus,
.field input:active {
  border: none;
  outline: 1px solid #ffffff;
}

.addbtn {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-weight: 600;
  background: #2b898a;
  color: #f1f1f1;
  cursor: pointer;
}

.addbtn:hover {
  background: #2b888ac6;
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232d39;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: #232d39;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #fff;
  border-radius: 50%;
}
