body {
  background: #171717;
  color: #f1f1f1;
  font-family: "Goldman";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222831;
  border-radius: 20px;
  padding-block: 2rem;
  gap: 1rem;
}

.logo_container {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "FF PQR TRIAL";
  font-size: 1.2rem;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.form h1 {
  font-size: 1.7rem;
  font-weight: 600;
}

.form form {
  min-width: 385px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 304px;
}

.field label {
  font-size: 0.7rem;
  margin-left: 10px;
}

.field input {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #353a42;
  color: #ffffff;
  font-size: 0.8rem;
}

.field input::placeholder {
  color: #ffffffa0;
}

.field input:focus,
.field input:active {
  border: none;
  outline: 1px solid #ffffff;
}

.form .btn,
.otpbtn {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-weight: 600;
  background: #2b898a;
  color: #f1f1f1;
  cursor: pointer;
  width: 304px;
}

.form .btn:hover,
.otpbtn:hover {
  background: #2b888ac6;
}

.form .redirect {
  font-size: 0.7rem;
  text-align: center;
  color: #ffffffb0;
}

.form .redirect a {
  color: #2b898a;
}

.otpform {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #171717d6;
  display: none;
  justify-content: center;
  align-items: center;
}

.otp_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #222831;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head span {
  cursor: pointer;
}
